[Unit]
Description=PeerVPN
After=network.target

[Service]
ExecStart=/usr/local/sbin/peervpn /etc/peervpn.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
