[Unit]
Description=PeerVPN
After=network.target

[Service]
ExecStart=/usr/local/sbin/peervpn /etc/peervpn.conf
ExecStartPost=/opt/routes.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
